.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.frend-area {
    .col-4 {
        .frend-box {
            background-color: white;

            p {
                position: absolute;
                bottom: 16%;
                left: 25%;
                width: 200px;
                /* margin-left: -100px; */
                color: black;
                font-size: 14pt;
            }



            img:before {
                content: ' ';
                display: block;
                position: absolute;
                height: 50px;
                width: 50px;
                background-image: url('/images/recflag.jpg');
            }

            .img-there:before{
                content: ' ';
                display: block;
                position: absolute;
                height: 50px;
                width: 50px;
                background-image: none;
            }
        }
        .frend-post-box {
            background-color: white;

            p{

                color: black;
                font-size: 14pt;
            }
        }


    }

}