.permafooter{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: #fbad50;
    z-index: 3333;
    text-align: center;




}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}