.permafooter{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: $main-color; // #34baf4;
    z-index: 3333;
    text-align: center;
    display: flex;

    .footer-button{
        display: flex;
        width: calc(100% / 5);
        height: 100%;
        border: 2px solid white;
        align-items: center;
        justify-content: center;
        align-content: center;

        .on-page{
            color: $accent-color !important;
        }

        .upload-button{
            background-color: transparent;
            width: 100%;
            height: 100%;
            color: $secondary-color;
        }
        .me-button{
            width: 100%;
            height: 100%;
            color: $secondary-color;
            i{
                margin-top: 10px;
            }
        }

        .home-button{
            width: 100%;
            height: 100%;
            color: $secondary-color;
            i{
                margin-top: 10px;
            }
        }

        .list-button{
            width: 100%;
            height: 100%;
            color: $secondary-color;
            i{
                margin-top: 10px;
            }
        }
    }


}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

.flex-footer{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    .on-page{
        color: $accent-color !important;
    }
    a{
        width: calc(100% /5);
        align-self: center;
        margin: auto;
        color: black;
    }
    a:hover{
        color: $accent-color;
        text-decoration: none;
    }
}