.topic-table{
    border-collapse: collapse;
    width: 100%;
    tr{
        border: 1px solid black;
    }
    tr:nth-child(even) {
        background-color: rgba(0,0,0,0.1);

    }
    td, th {

        text-align: left;
        padding: 8px;

        &:nth-child(1){
            width: 15%;
            text-align: left;
        }
        &:nth-child(2){
            width: 70%;
            text-align: center;
        }
        &:nth-child(3){
            width: 15%;
            text-align: right;
        }
    }

}