
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: Arial;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//COLORS
$main-color: #70F3FF;
$secondary-color: #0b7dda;
$nice-blue: rgba(0,155,255,1);
$accent-color: #F62E55;