
// Body
//$body-bg: #f5f8fa;
$body-bg: rgba(240,250,255,1);

// Typography
$font-family-sans-serif: Arial;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//OLD COLORS
//$main-color: #70F3FF;
//$secondary-color: #0b7dda; //blue
//$secondary-color: rgb(255, 205, 0); //gold

//NEW COLORS
$nice-blue: rgba(0,155,255,1);
$lighter-nice-blue: rgba(0,180,255,1);
$light-nice-blue: rgba(0,200,255,1);
$border-color: rgba(0,100,150,0.7);
$accent-color: #F62E55;
$hovercolor: #f0f8ff;
$main-color: white;// rgba(0,200,255,1);

$secondary-color: #5987b6;//rgba(230,240,255,1);